@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Tangerine:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #242424;
  --text-color: #242424;

  font-family: mearriweather, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  min-height: 100dvh;
  /* overflow-y: hidden; */
  color: var(--text-color);

  transition: background-color 0.7s ease, color 0.4s ease-in-out;
}

.dark-theme {
  --bg-color: #242424;
  --text-color: #fff;
}
.light-theme {
  --bg-color: #fff7f7;
  --text-color: #000000;
}
button[title] {
  position: relative;
  cursor: pointer;
}

button[title]::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 20%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 5px 5px;
  border-radius: 5px;
  font-size: smaller;
  white-space: nowrap;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

button[title]:hover::after {
  opacity: 1;
  visibility: visible;
}
/* .personal_css {
  height: 100dvh;
  overflow-y: hidden;
} */

h1 {
  font-family: tangerine, sans-serif;
}
p {
  font-family: "Roboto Slab", sans-serif;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--text-color);
  font-style: italic;
  /* word-spacing: 6px; */
}
