
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Tangerine:wght@400;700&display=swap');


:root {
  --bg-color: #242424;
  --text-color: #242424;

  font-family: mearriweather, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  min-height: 100dvh;
  color: var(--text-color);

  transition: background-color 0.7s ease, color 0.4s ease-in-out;
}

.dark-theme {
  --bg-color: #242424;
  --text-color: #fff;
}
.light-theme {
  --bg-color: #fff7f7;
  --text-color: #000000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-family: tangerine, sans-serif;
}
p {
  font-family: 'Roboto Slab', sans-serif;
  line-height:30px;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--text-color);
  font-style: italic;
  /* word-spacing: 6px; */
}
