@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,900&family=Tangerine&display=swap");

:root {

  --bg-color: #242424;

  font-family: mearriweather, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  min-height: 100dvh;
}

.dark-theme {
  --bg-color: #242424;
}
.light-theme {
  --bg-color: #f9f9f9;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
